/*
.entry blockquote {
	background-image:url(http://typespiration.com/wp-content/themes/typespiration/images/quote.png);
	background-position:10px 10%;
	background-repeat:no-repeat no-repeat;
	padding: 150px 0;
}

.entry p {	
	color:#f2f2f2;
	background:#ff4a4a;
	font-size: 75px;
	line-height: 74px;
	font-weight:700;
	margin: 0 5px 24px;
	float:left;
	padding: 10px;
	margin: 0 5px 24px;
	font-family: 'Libre Baskerville', serif;
}
.punchline p {
	background:#f2f2f2;
	color:#ff4a4a;
}

.entry a {
	color: #adadad;
	font-size: 25px;
	text-decoration: none;
	float:right;
	font-family: 'Libre Baskerville', serif;
	line-height:4;
}

.entry a:hover {
	color: #ff4a4a;
	text-decoration: none;
}
*/

.main-container {
	background: #31a691;
}

.entry {
	margin-top: 10px;
	border-bottom: 3px solid #1c1c1c;
}

blockquote p {
	color: #ffffff;
	font-family: 'Merriweather', serif;
	font-size: 25px;
	font-weight: 300;
	line-height: 40px;
	margin: 0 30px 20px;
	text-align: center;
	text-shadow: #2a8d7b -1px -1px;
}

p.author {
	color: #217969;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	letter-spacing: 3px;
	text-align: center;
	text-shadow: #53b4a2 1px 1px;
	text-transform: uppercase;
}

p.author span {
	color: #217969;
	font-family: 'Helvetica Neue', sans-serif;
	font-style: italic;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
}

.news-link {
	color: White;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: #53b4a2 1px 1px;
	font-size: 24px;
	text-decoration: none;
}

.news-link:hover {
	text-decoration: underline;
}